*.o
*.bak
*.crf
*._2i
*.d
*.bak
!/D1_TCP-NEWID/Projects/MDK-ARM/

/D1_TCP-NEWID/Projects/MDK-ARM/*
!/D1_TCP-NEWID/Projects/MDK-ARM/*.s
# !/D1_TCP-NEWID/Projects/MDK-ARM/*.uvoptx
!/D1_TCP-NEWID/Projects/MDK-ARM/*.uvprojx
*.TMP
